

    <div class="jumbotron jumbotron-sm">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 col-lg-12">
                        <h1 class="h1">
                            Contact us <small>Feel free to contact us</small></h1>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <div class="well well-sm">
                        <form [formGroup]="myForm" (ngSubmit)="createMessage()">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="name">
                                        Name</label>
                                    <input type="text" class="form-control" id="name" placeholder="Enter name" required="required"  formControlName="name" [(ngModel)]="user.user.name"/>
                                </div>
                                <div class="form-group">
                                    <label for="email">
                                        Email Address</label>
                                    <div class="input-group">
                                        <span class="input-group-addon"><span class="glyphicon glyphicon-envelope"></span>
                                        </span>
                                        <input type="email" class="form-control" id="email" placeholder="Enter email" required="required" formControlName="email"  [(ngModel)]="user.user.username"/></div>
                                </div>
                                
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="name">
                                        Message</label>
                                    <textarea name="content" id="message" class="form-control" rows="9" cols="25" required="required"
                                        placeholder="Message" formControlName="content"></textarea>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <button type="submit" class="btn btn-primary pull-right" id="btnContactUs">
                                    Send Message</button>
                            </div>
                        </div>
                        </form>
                    </div>
                </div>
                <div class="col-md-4">
                    <form>
                    <legend><span class="glyphicon glyphicon-globe"></span> Our office</legend>
                    <address>
                        <strong>tattonin.com</strong><br>
                        Road no 2, House no 19 E, Rampura<br>
                        Dhaka, Bangladesh<br>
                        <abbr title="Phone">
                            P:</abbr>
                        +88019206434
                    </address>
                    <address>
                        <strong>Full Name</strong><br>
                        <a href="mailto:#">nuruzzaman@tattonin.com</a>
                    </address>
                    </form>
                </div>
            </div>
        </div>
        